.ui-flex-height
	height 100vh

.ui-flex-row
	display flex
	flex-flow row nowrap

.ui-flex-column
	display flex
	flex-flow column nowrap

.ui-flex-left--child
	display flex
	& > *
		display flex
		justify-content flex-start
		align-items center

.ui-flex-center--child
	display flex
	& > *
		display flex
		justify-content center
		align-items center

//

.ui-flex-1x
	flex 1

.ui-flex-2x
	flex 2

.ui-flex-3x
	flex 3

//

.ui-fit-width
	width 100%

// margin

.ui-mgb
	margin-bottom 16px

.ui-mgb-xs
	margin-bottom 4px

.ui-mgb-sm
	margin-bottom 8px

.ui-mgb-md
	margin-bottom 32px

.ui-mgb-lg
	margin-bottom 64px

.ui-mgb-xl
	margin-bottom 128px

.ui-mgr
	margin-right 16px

// padding

.ui-padded-xs
	padding 4px

.ui-padded-sm
	padding 8px

.ui-padded
	padding 16px

.ui-padded-md
	padding 32px

.ui-padded-lg
	padding 64px

.ui-padded-xl
	padding 128px

.ui-pdlr
	padding 0 16px

//

.ui-text-mute
	color #999
	& a
		color @color

.ui-text-sm
	font-size 70%

