template(name='commentForm')

	form#commentForm

		.ui-flex-row.ui-mgb

			label.ui-flex-1x.ui-padded-sm
				.ui-mgb 额外备注
				textarea(name='content' rows='3' placeholder='输入要附加的备注信息')

		.ui-flex-row.ui-mgb

			.ui-flex-1x.ui-padded-sm
				input(type='submit' value='提交')
				input.reset(type='reset' value='reset' hidden)
